<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PrepForPaintball.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>592F0BB81E10D4C500C56F77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>592F0BCC1E10D4C600C56F77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>592F0BD71E10D4C600C56F77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
